{% extends "glynn-admin/base.html.twig" %}

{% block title %}
    Puzzle - {{ parent() }}
{% endblock %}

{% block body %}
    {% for photo in unsplashPhotos %}
        <div>
        <a href="{{ path('disjfa_mozaic_puzzle_photo', {'unsplashPhoto': photo.unsplashId}) }}">
            <img src="{{ photo.urlRegular }}" alt="">
            {{ photo.unsplashUser.name }}
        </a>
        </div>
    {% endfor %}
{% endblock %}


